<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarun.khana">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Khana"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".SignUp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProviderHome"
            android:label="@string/title_activity_provider_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PreviewOrder" />
        <activity
            android:name=".SeekerHome"
            android:label="@string/title_activity_seeker_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5xOtVTTcD4TZMp2vRbOwnBOni3HLU7EM" />

        <activity android:name=".SeekerClickedTodaysFoodInfo" />
        <activity android:name=".UserProfile" />
        <activity android:name=".SeekerOrderNow" />
        <activity android:name=".SeekerMakePayment" />
        <activity android:name=".Cart"></activity>
    </application>

</manifest>